{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />

</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'bank' %}">Bank</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'create_user' %}">Create User</a></li>
                    <li><a href="{% url 'transaction' %}">Transaction</a></li>
                    <li><a href="{% url 'transaction_history' %}">Transaction History</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div
        style="background-color:lightgreen; padding:7px; font-weight:600; text-align:center; margin:10px 20px; border-radius:10px;">
        <p style="display:inline; ">Message : {{ message }}</p>
        <i onclick=removeDiv(this) style="font-size:20px; float:right;" class="fa">&#xf00d;</i>
    </div>
    {% endif %}
    {% if message.tags == "error" %}
    <div
        style="background-color:rgba(233, 115, 115, 0.87); padding:7px; font-weight:600; text-align:center; margin:10px 20px; border-radius:10px;">
        <p style="display:inline; ">Message : {{ message }}</p>
        <i onclick=removeDiv(this) style="font-size:20px; float:right;" class="fa">&#xf00d;</i>
    </div>
    {% endif %}
    {% endfor %}
    <div class="container">
        {% block main %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        function removeDiv(btn) {
            ((btn.parentNode).parentNode).removeChild(btn.parentNode);
        }
    </script>
</body>

</html>